name: test-check

on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: app

    strategy:
      matrix:
        node-version: [20.x]

    permissions:
      contents: write

    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: 20
    
      - uses: actions/checkout@v3
        with:
          path: app

      - run: make install
      - run: make test

      - name: setup git config
        run: |
          git config user.name "Bot"
          git config user.email "<>"

      - name: Prepare template
        run: |
          git checkout --orphan main dev
          echo '' > src/catalog/core.js
          echo '' > src/catalog/queries.js
          git add -A
          git commit --no-verify -m "Rebuild template (auto)"
          git push -f --no-verify --set-upstream origin main